[submodule "frontend_react"]
	path = frontend_react
	url = https://github.com/Samso9th/frontend_react
[submodule "backend_sanity"]
	path = backend_sanity
	url = https://github.com/Samso9th/backend_sanity
